.divi
{
width:100%;
height:100%;
}
video
{
  width:100%;
  height:100%;
  object-fit:cover;
}
.div{
 
  width:400px;
  height:480px;
}
.container 
{
position:absolute;
width:100%;
height:100%;
top:60%;
left:50%;
transform:translate(-50%,-50%);
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.links
{
  display:flex;
  justify-content: center;

}
.links a
{
  margin: 25px 0;
  font-size: 1em;
  color: #8f8f8f;
  text-decoration:none;
}
.logo-container {
  margin-bottom: 15px;
}
.logo-img {
  width: 130px;
  height: auto;
  border-radius:70px;
}

.body{
  background-image: url("https://getwallpapers.com/wallpaper/full/f/9/d/1108511-blue-purple-wallpaper-1920x1200-for-android.jpg");
  height:100vh;
  background-repeat: no-repeat;
  background-size:cover;

}
.photo
{
  height:200px;
  width:200px;
  border-radius: 100px;
}
.home
{
  color: aqua;

}
.about
{
  color: aqua;



}


.contact
{
  color: aqua;
}
.services-list {
  list-style-type: none;
  padding: 0;
}

.services-list li::before {
  content: "●";
  color:aliceblue;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.about-list {
  list-style-type: none;
  padding: 0;
}

.about-list li::before {
  content: "●";
  color:aliceblue;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.body1
{
  text-decoration:underline;
  text-shadow: azure;
  
}
.default
{
  height:200px;
  width:200px;
}
.divin
{
width:100%;
height:100%;
}
videos
{
  width:100%;
  height:100%;
  object-fit:cover;
  
}
.divn{
 
  width:470px;

  height:680px;
}
.containers
{
position:absolute;
width:100%;
height:100%;
top:55%;
left:50%;
transform:translate(-50%,-50%);
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.link
{
  display:flex;
  justify-content: center;

}
.link a
{
  margin: 25px 0;
  font-size: 1em;
  color: #8f8f8f;
  text-decoration:none;
}
.logo-containers {
  margin-bottom: 15px;
}
.logo-imgs {
  width: 130px;
  height: auto;
  border-radius:70px;
}

